@media (max-width:728px) { 
    .navbar-dark .navbar-toggler {
        color: #20ca4b;
        font-weight: bold;

    
      }
      
    .navbar-toggler {
      font-size: 20px;
    
 
    }
    .navbar-nav {
        display: flex;
        margin:0 auto;
        -ms-flex-direction: column;
        flex-direction: column;
        margin-bottom: 0;
        list-style: none;
        text-align: center;
    }
    .bg-dark {
        background-color: rgb(102, 153, 204)!important;
    }
    .row1{
        margin-top: 20px;
    }
    .mainSection {
       padding: 5px;
    }
    .mainSection h1 {
    color: #000000;
    padding-top: 100px;
    text-align: center;
    font-weight: 700;
    font-size: 2rem;
}
.innerpage .card {
    text-align: left !important;
    width: 100% !important;
}

}