
body{
    direction: ltr;


}
.navbar-dark {
    padding: 7px 12px;
}
.navbar-dark .navbar-nav .nav-link ,a.navbar-brand{
    color: #182e44;
    font-size: 16px;
    font-weight: 600;
    text-transform: capitalize;
}
a.navbar-brand{
    color: #294F75;
    font-size: 20px;
}
a.navbar-brand:hover{
    color: #000000;
}
.navbar-dark .navbar-nav .nav-link:hover{
    color: #f7be24;
    text-decoration: underline;
}

.bg-dark {
    background-color: white!important;
}
.WhySection{
    color :#294F75;
    padding:95px;

}
.WhySection span{
    color :#f7be24 !important;
    text-transform: uppercase;
    font-weight: bold;
}
.WhySection h2{
    color :#172636 !important;
    font-weight: bold;
    font-size: 36px;
}
.WhySection p{
    font-size:18px;  
}
footer{
        background: linear-gradient(135deg, hsl(210 48% 31%), hsl(210 50% 60%));

}
footer a{
    text-decoration: none;
    color: #ffffff;
}
footer a:hover{
    color: #f7be24;
}
footer p{
    color: #ffffff;
}
.Ivfoooter{
    color:#c7ccd0;
}